/** SIZE */
h-nav = 45px
l-pad = 15px

/** Z-INDEX */
z-nav = 100
z-modal = 1000

/** COLOR  */
//app
c-text = #2c2c30
c-text-grey = #abadbb
c-grey = #eaebed
c-border = #e2e2e2
c-blue = #0db8f6
//ios
c-ios-red     = rgb(255  59  48)
c-ios-orange  = rgb(255 149  48)
c-ios-yellow  = rgb(255 204   0)
c-ios-green   = rgb( 76 217 100)
c-ios-tealBlue= rgb( 90 200 250)
c-ios-blue    = rgb(  0 122 255)
c-ios-purple  = rgb( 88  86 214)
c-ios-pink    = rgb(255  45  85)

