.btn
  display flex
  align-items center
  justify-content center
  cursor pointer
  &:hover
    opacity .9
  &:active
    opacity .7

.btn-ios-default
  background white
  color c-ios-blue
  &:active, &:link
    background #e2e2e2
.btn-blue
  color white
  background-color #0db8f6
.btn-blue-h
  color #0db8f6
  background-color white
  border 1.5px solid #0db8f6
