.flex
  display flex
.redirect_col
  flex-direction column
.redirect_col_rev
  flex-direction column-reverse
.redirect_row_rev
  flex-direction row-reverse
.wrap_wrap
  flex-wrap wrap
.wrap_rev
  flex-wrap wrap-reverse
.flex_end
  justify-content flex-end
.middle_center
  justify-content center
  align-items center
.right_center
  justify-content flex-end
  align-items center
.around_center
  justify-content space-around
  align-items center
.between_center
  justify-content center
  align-items center
.space_around
  justify-content space-around
.align_center
  align-items center
.align_btm
  align-items flex-end
.self_btm
  align-self flex-end
//flex: <flex-grow> <flex-shrink> <flex-basis>
.grow_1
  flex-grow 1
.grow_2
  flex-grow 2
.grow_3
  flex-grow 3
.self_start
  align-self flex-start
.self_end
  align-self flex-end
.self_center
  align-self center
.self_stretch
  align-self stretch
.flex_1
  flex: 1