*
  -webkit-tap-highlight-color rgba(0, 0, 0, 0)
  -webkit-overflow-scrolling touch

textarea, input[type="password"], input[type="text"]
  resize none /*禁用可缩放*/
  outline none /*禁用发光效果*/
  -webkit-appearance none /*禁用增加外观效果*/
  white-space pre-wrap
