// add this to the classList of target dom
.trans_300
  transition all .3s

.fade-enter, .fade-leave-active
  opacity: 0
.slide-right-enter, .slide-right-leave
  opacity 0
  transform translateX(5%)
.slide-left-enter, .slide-left-leave
  opacity 0
  transform translateX(-5%)
.slide-btm-enter, .slide-btm-leave
  opacity 0
  transform translateY(100%)
.slide-top-enter, .slide-top-leave
  opacity 0
  transform translateY(-100%)

.zoomInSmall-enter, .zoomInSmall-leave
  transform scale(.8)
.zoomInBig-enter, .zoomInBig-leave
  transform scale(1.2)

.fade-enter, .fade-leave-active
  opacity 0
.modal-enter, .modal-leave-active
  opacity 0
.modal-enter .modal, .modal-leave-active .modal
  transform scale(1.1)
.widgetProfile-enter, .widgetProfile-leave-active
  transform scale(1.1)
.shareBtm-enter, .shareBtm-leave-active
  opacity 0
.shareBtm-enter #shareBox, .shareBtm-leave-active #shareBox
  opacity 0
  transform translateY(100%)

.fold-enter, .fold-leave-active
  transform scaleY(0)